.maynard-panel {
    background-color: alpha(black, 0.7);
}

.maynard-system {
    border: none;
    border-image: none;
    border-radius: 0px;
    background-image: none;
    background-color: #6d6d6d;
    padding: 13px;
    color: #fcfcfc;
}

.maynard-system:hover {
    border: none;
    border-image: none;
    border-radius: 0px;
    background-image: none;
    background-color: alpha(#6d6d6d, 0.8);
    color: white;
    box-shadow: none;
}

.maynard-audio {
    border: none;
    border-image: none;
    border-radius: 0px;
    background-image: none;
    background-color: #b4b4b4;
    color: #fcfcfc;
    padding: 13px;
}

.maynard-audio:hover {
    border: none;
    border-image: none;
    border-radius: 0px;
    background-image: none;
    background-color: alpha(#b4b4b4, 0.8);
    color: white;
    box-shadow: none;
}

.maynard-apps {
    border: none;
    border-image: none;
    border-radius: 0px;
    background-image: none;
    background-color: alpha(black, 0.2);
    color: #bebebe;
}

.maynard-apps:hover {
    border: none;
    border-radius: 0px;
    border-image: none;
    background-image: none;
    background-color: alpha(black, 0.2);
    color: white;
    box-shadow: none;
}

.maynard-clock {
    background-color: #929292;
    color: white;
}

.maynard-launcher {
    background-color: alpha(black, 0.6);
}

/* Remove dotted lines from scrolled window */
/* .maynard-launcher-scrolled-window undershoot.top, undershoot.right, undershoot.bottom, undershoot.left { background-image: none; } */
/* .maynard-launcher-scrolled-window overshoot.top, overshoot.right, overshoot.bottom, overshoot.left { background-image: none; } */

.maynard-launcher-scrolled-window {
    background-color: transparent;
}

.maynard-launcher-icon-view {
    font-family: Droid Sans;
    font-size: 12px;
    border-color: transparent;
    border-radius: 4px;
    background-image: none;
    background-color: transparent;
    color: white;
}

.maynard-launcher-icon-view:hover {
    border-color: transparent;
    border-radius: 4px;
    background-image: none;
    background-color: alpha(white, 0.2);
    color: white;
}
